.img-partners {
  height: auto;
  max-width: 100%;
  padding: 0 20px;
  margin-bottom: $base-line-height * 2;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}

#g2e-brand {
  height: 150px;
  width: auto;
}
