//2. Determine the base line height
//base line height = base font size * magic number


//1 . make a type scale using a ratio
// ratio used here : 1.33
$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1.333rem,
    line-height: $base-line-height * 1
  ),
  2: (
    font-size: 1.778rem,
    line-height: $base-line-height * 2
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level:0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}


@mixin font-face($url, $name, $weight) {
  @font-face {
    font-family: $name;
    src: url('../fonts/#{$url}');
    font-weight: $weight;
  }
}

@include font-face("SourceSansPro-Regular.ttf", "Source Sans", regular);
@include font-face("BebasNeue-Regular.otf", "Beba Neue", regular);


.smaller {
  @include type-setting(-1);
  margin-bottom: $base-line-height / 2;
}

p, .paragraph {
  @include type-setting(0);
  margin-bottom: $base-line-height;
  @media(min-width: 768px) {
    // margin-bottom: ($base-line-height * 2);
  }
}

%heading {
  font-family: "Beba Neue";
  text-transform: uppercase;
}

h2 {
  @include type-setting(1);
  @media(min-width: 768px) {
    font-size: type-scale(2);
    line-height: 1.5em;
  }
}

h3 {
  @include type-setting(1);
  margin-top: 0;
  margin-bottom: $base-line-height / 2;
  font-size: type-scale(1) * 2;
}

.heading-3 {
  @include type-setting(1);
  @extend %heading;
}

.heading-2 {
  @include type-setting(1);
  line-height: 1.5em;
  @media(min-width: 768px) {
    // font-size: type-scale(1) * 2;
    // line-height: 1.5em;
  }
}

.heading-1 {
  @include type-setting(2);
  @extend %heading;
  margin-bottom: $base-line-height;
  margin-top: $base-line-height * 2;
  margin-top: 55px;
  @media(min-width: 768px) {
    // margin-top: 125px;
    // font-size: type-scale(2) * 2;
    // line-height: 1.5em;
  }
}

.display {
  @include type-setting(2);
  margin: 55px 0;
  @media(min-width: 768px) {
    margin: 125px 0 96px 0;
    line-height: 1.5em;
    font-size: 36px;
  }
}

p.display {
  line-height: 1.5em;
  @media(min-width: 768px) {
    margin: ($base-line-height * 2) 0;
  }
}

.leading {
  line-height: 1.25;
}

.heading-border {
  @extend %heading;
  display: inline-block;
  padding-right: 40px;
  border-bottom: 2px solid #919191;
  margin: 55px 0;
  font-size: 1.5rem;
  color: #919191;
  font-weight: bold;
  letter-spacing: 2px;
}
