.t {
  display: table;
  width: 100%;
}

.t-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0 16px;
}

@mixin t-cell-size() {
  @for $i from 1 through 10 {
    $size: $i * 10;
    .t-cell-#{$size} {
      @extend .t-cell;
      width: $size * 1%;
    }
  }
}

@include t-cell-size();

.mtf {
  margin-top: 0 !important;
}

.mtd {
  margin-top: 2em;
}

.mb {
  margin-bottom: 1em;
}

.mbd {
  margin-bottom: 2em;
}

.mbt {
  margin-bottom: 3em;
}
