$base-font-size-absolute: 16px;
$base-font-size: 1rem; //16px
$base-line-height: $base-font-size-absolute * 1.25;
$line-height-computed: $base-line-height;

$primary-color: rgb(124, 15, 15);

$nav-item-hover: $primary-color;
$grid-gutter-width: $line-height-computed * 2;
