.btn-ghost {
  border-radius: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid black;
}


.btn-lg {
  padding: ($base-line-height / 2) ($base-line-height * 2);
  @include type-setting(0);
  line-height: 38px;
  border-width: 2px;
  font-weight: bold;
  @media(min-width: 768px) {
    // font-size: 36px;
    // padding: ($base-line-height) ($base-line-height * 2);
  }
}

.btn-dark {
  border-radius: 0;
  // background-color: mix(white, black, 5%);
  color: white;
  font-size: 1.33rem;
  padding: ($base-line-height / 2) $base-line-height;
  &:hover {
    color: $primary-color;
  }
}
