.hero-text-container {
  padding: $base-line-height;
  text-align: center;
}

.container {
  padding: 0 $base-line-height;
  @media(min-width: 768px) {
    max-width: 600px;
  }
  @media(min-width: 1200px) {
    max-width: 720px;
  }
}

.text-center {
  text-align: center;
}

.video-container {
  @media(min-width: 768px) {
    margin: 0 auto;
    max-width: 600px;
  }
}

.hero-image {
  width: 100%;
  margin-top: -1px;
  @media(min-width: 992px) {
    position: relative;
    height: 450px;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      top: -25%;
    }
  }
  @media(min-width: 1200px) {
    height: 500px;
    top: -50%;
  }
}

.hero-product-image {
  width: 100%;
  @media(min-width: 992px) {
    position: relative;
    height: 450px;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
    }
  }
  @media(min-width: 1200px) {
    height: 500px;
  }
}

.img-break {
  margin-bottom: $base-line-height;
}
