.footer {
  background-color: black;
  height: auto;
  color: white;
  padding: ($base-line-height) $base-line-height;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  @include type-setting(-1);
  @media(min-width: 768px) {
    min-height: 250px;
    display: table;
    width: 100%;
    .container {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
